---

---

<div id="intro">
    <p>To get your fortune, type in the number (1-101) on your chopsticks.</p>

    <input type="number" min="1" max="101" id="no" />
    <button type="button" id="go">Tell me!</button>
</div>
<div id="fortuneWrapper">
    <p id="fortune"></p>
</div>

<script>
import { fortunes, isVideo, isWords } from '../fortunes.js';

document.getElementById("go").addEventListener("click", async () => {
    const noValue = document.getElementById("no").value;
    const no = parseInt(noValue - 1);
    const index = no % fortunes.length;
    const fortune = fortunes[index];
    if (isWords(fortune)) {
        const showFortune = document.getElementById("fortune");
        const wrapper = document.getElementById("fortuneWrapper");
        if (showFortune && wrapper) {
            showFortune.innerHTML = fortune.message;
            wrapper.scrollIntoView({ behavior: "smooth", block: "start"});
        }
    }

    if (isVideo(fortune)) {
        const video = fortune.url;
        window.location.href = video;
    }
});

</script>

<style>
    body, p {
        font-family: sans-serif;
        font-size: 2.0rem;
        margin: 0;
    }

    input, button {
        font-size: 3.0rem;
    }
    
    button {
        background-color: #751313;
        color: #fff;
        border: none;
        outline: none;
        padding: 1rem;
    }

    #intro {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
        padding: 3rem 1rem;

        background-color: #ffd562;
    }

    #fortuneWrapper {
        box-sizing: border-box;
        width: 100vw;
        height: 100vh;
        margin: 0;

        background-color: #751313;
        color: #fff;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 0.5em;
    }

    #fortune {
        text-align: center;
    }
</style>